__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.egg-info/
dist/
build/
*.egg
.installed.cfg
*.egg-info
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
!media/
media/*
!media/brands/
media/brands/*
!media/brands/default-brand-logo.svg
!media/categories/
media/categories/*
!media/categories/default-category-image.svg
staticfiles/
.env
.env.local
.env.production
*.log
celerybeat-schedule
*.sqlite3
.DS_Store
.idea/
.vscode/
